$success: #4be064;
$accent-dark: #AAA;
$accent-light: #DFDFDF;
$borders: #888;
$text: #666;
$error: #CC0000;

$reset-button-size: 20px;
$counter-size: 60px;
$padding-sm: 4px;
$padding-md: 8px;
$padding-lg: 16px;
